body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.container {
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
}

.mensaje {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}
